* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  padding: 20px;
  
}
/* ======================================= HEADER  ⏬⏬⏬⏬⏬ ======================================= */
header {
  gap: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #232323;
}
h1 {
  font-family: "Major Mono Display", monospace;
  padding: 20px;
  font: 100px;
}
#player{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.playerInput {
  background-color: #383838;
  font-size: 20px;
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
}
#start {
  font-family: "Major Mono Display", monospace;
  width: 500px;
  background-color: #4db1d8;
  border: 0;
  padding: 10px 30px;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 70px;
}
#start:hover {
  background-color: #3a8cac;
}
/* ======================================= MAIN  ⏬⏬⏬⏬⏬ ======================================= */
#rules{
  border: 0px;
  background-color: #3d3d3d;
  padding: 60px 60px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#rules h3{
  font-family: "Major Mono Display", monospace;
  font-size: 30px;
  padding: 0px 0px 20px;
}
#rules h3 span{
  font-size: 60px;
  color: #4db1d8;
}
#rules p{
  font-family: "Roboto", sans-serif;
  padding: 0px 0px 0px 50px;
  font-size: 20px;
}
/* ======================================= MAIN  ⏬⏬⏬⏬⏬ ======================================= */
main{
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* border: 3px solid blue; */
  width: 100%;
  height: 95vh;
  background-color: #232323;
  gap: 20px;
}
#scoreBoard /* Tela/Placar */{ 
  width: 80%;
  height: 500px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  border: 25px ridge rgb(167, 167, 167);
  box-shadow: -5px 9px 5px 5px #0000006b;
  margin-bottom: 20px;
  border-radius: 15px;
}
#borderScreen /* Borda da tela */{
  font-family: "Handjet", sans-serif;
  font-size: 10px;
  font-weight: 100;
  color: #fc963e;
  box-shadow: 0px 0px 0px 0px #fc973eb6;
  background-color: transparent;
  padding: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid #fc963e;
  padding: 5px 5px 5px 5px;
}
.borderWin {
  animation: borderWin 0.2s linear 0s infinite;
}
@keyframes borderWin {
  0%,
  100% {
    border: 2px solid #267938;
  }
  50% {
    border: 2px solid #4dee70;
  }
}
.borderWinGameOver {
  background-image: url(./img/gameOver.png);
  background-size: 500px;
  background-repeat: no-repeat;
  animation: borderWinGameOver 1s linear 0s infinite;
  background-position: center;
}
@keyframes borderWinGameOver {
  0%,
  100% {
    background-position-Y: 400px;
    border: 4px solid #164620;
  }
  50% {
    background-position-Y: 380px;
    border: 4px solid #4dee70;
  }
}

#vezDe {
  font-family: "Handjet", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #fc963e;
  text-shadow: 0px 0px 4px #fc963e;
}
.vezDeWin {
  animation: vezDe 0.2s linear 0s infinite;
}
@keyframes vezDe {
  0%,
  100% {
    text-shadow: 0px 0px 4px #38af51;
    color: #38af51;
  }
  50% {
    color: #4dee70;
    text-shadow: 0px 0px 6px #4dee70;
  }
}

#containerScore /* Container com a pontuação e nome dos players */{
  /* border: 3px solid red; */
  width: 100%;
  height: 70%;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#player1Score /* Nome do player X na tela */{
  font-family: "Handjet", sans-serif;
  font-size: 80px;
  font-weight: 500;
  color: #fc963e;
  text-shadow: 0px 0px 4px #fc963e;
  width: 100%;
  text-wrap: wrap;
  /* border: 3px solid rgb(4, 0, 255); */
  text-align: center;
  height: 200px;
  word-break: break-all;
  display: flex;
  align-items: center;
  justify-content: end;
}
.containerPlayer /* Container com a pontuação */{
  padding: 0px;
  display: flex;
  width: 100%;
  /* border: 3px solid rgb(0, 255, 42); */
  display: flex;
  align-items: center;
  justify-content: center;
}
#vs {
  padding: 0px;
  font-family: "Handjet", sans-serif;
  font-size: 100px;
  font-weight: 500;
  color: #fc963e;
  text-shadow: 0px 0px 4px #fc963e;
}
.score /* Classe da pontuação */{
  padding: 10px 20px;
  font-family: "Handjet", sans-serif;
  font-size: 130px;
  font-weight: 500;
  color: #fc963e;
  text-shadow: 0px 0px 4px #fc963e;
}
#player2Score /* Nome do player O na tela */{
  font-family: "Handjet", sans-serif;
  font-size: 80px;
  font-weight: 500;
  color: #fc963e;
  text-shadow: 0px 0px 4px #fc963e;
  width: 100%;
  text-wrap: wrap;
  /* border: 3px solid rgb(4, 0, 255); */
  text-align: center;
  height: 200px;
  word-break: break-all;
  display: flex;
  align-items: center;
  justify-content: start;
}
#btnContinuar {
  font-family: "Handjet", sans-serif;
  padding-bottom: 5px;
  font-size: 70px;
  font-weight: 500;
  color: #fc963e;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  opacity: 0;
  animation: btnContinuar 0.2s 0s infinite;
  
}
@keyframes  btnContinuar{
  0%,100% {
    color: #fc963e;
  }
  
  100% {
    color: #583910;
  }
}

#gameBoard {
  /* border: 3px solid yellow; */
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-content: center;
  align-items: start;
  gap: 4.5rem;
  height: 60%;
  width: 40%;
}

#gameBoard span {
  font-family: "Indie Flower", cursive;

  background-color: #232323;
  display: grid;
  place-content: center;
  font-size: 100px;
  border: 2px dashed #ffffff71;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  color: white;
}

#gameBoard span.win {
  background-color: #4dee70;
  animation: win 1.2s ease-in-out 0s infinite;
  border: 0px solid #329c49;
  
}
@keyframes win {
  0%,100% {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  50% {
    text-shadow: -7px 7px 7px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    padding-left: 20px;
  }
}
.cursor-pointer {
  cursor: pointer;
}

#reloadButton{
  font-family: "Major Mono Display", monospace;
  width: 500px;
  background-color: #4db1d8;
  border: 0;
  padding: 10px 30px;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 70px;
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#reloadButton:hover {
  background-color: #3a8cac;
}
/* @media (max-width: 1160px){
  #player1Score {
    font-size: 40px;
  }
  #vs {
    font-size: 60px;
  }
  .score {
    font-size: 100px;
  }
  #player2Score {
    font-size: 40px;
  }
  #btnContinuar {
    font-size: 30px;
  }
} */
/* @media (max-width: 800px){
  h1 {
    padding: 20px;
    font: 100px;
  }
  #player label {
    padding: 10px;
  }
  .playerInput {
    background-color: #383838;
    font-size: 20px;
    border: 0;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
  }
  .playerLabel {
    font-weight: 800;
  }
  
  #start {
    font-family: "Major Mono Display", monospace;
    width: 500px;
    background-color: #4db1d8;
    border: 0;
    padding: 10px 30px;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 70px;
  }
  #player1Score {
    font-size: 30px;
  }
  #vs {
    font-size: 40px;
  }
  .score {
    font-size: 80px;
  }
  #player2Score {
    font-size: 30px;
  }
  #btnContinuar {
    font-size: 30px;
  }
} */
@media (min-width: 361px) and (max-width: 480px) {
  
}
@media (max-width: 360px){
  h1 {
    padding: 20px;
    font: 100px;
  }
  #player label {
    padding: 10px;
  }
  .playerInput {
    background-color: #383838;
    font-size: 20px;
    border: 0;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
  }
  .playerLabel {
    font-weight: 800;
  }
  
  #start {
    font-family: "Major Mono Display", monospace;
    width: 500px;
    background-color: #4db1d8;
    border: 0;
    padding: 10px 30px;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 70px;
  }
  #player1Score {
    font-size: 30px;
  }
  #vs {
    font-size: 40px;
  }
  .score {
    font-size: 80px;
  }
  #player2Score {
    font-size: 30px;
  }
  #btnContinuar {
    font-size: 30px;
  }
}
